@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
   6/26 Lakeside Drive<br />
    Alawa, Darwin 0810<br />
    <abbr title="Phone">Phone:</abbr>
    0452357734
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:aliagral5@gmail.com">aliagral5@gmail.com</a><br />
</address>